---
import { Icon } from "astro-icon/components";
import bodyData from "@/data/bodyData.json";

import homesData from "@/data/homesData.json";
---

<section class="my-0 mx-auto w-full lg:max-w-7xl px-8 grid gap-8">
  {
    bodyData.map((body) => (
      <>
        <div class="mb-8 mx-auto relative flex rounded-full bg-white w-max">
          <span class="inline-flex gap-3 px-4 py-2 justify-center text-center items-center text-sm text-[#475569]">
            {body.badge}
            <Icon name="mdi:hand-wave" />
          </span>
        </div>
        <h1 class="text-2xl lg:text-4xl text-center mx-auto">{body.title}</h1>
        <div class="text-base lg:text-xl max-w-3xl text-black/60 text-center mx-auto">
          {body.description}
        </div>
      </>
    ))
  }
  {
    homesData.map((homes) => (
      <>
        <div class="grid md:grid-cols-2 gap-y-8">
          <div
            class={`rounded-3xl ${homes.align === "left" ? "md:order-1" : ""}`}
          />

          <section class="carousel-wrapper" aria-label="Gallery">
            <div class="carousel-containers container">
              <button
                class="carousel-btn grid-sm carousel-btn--prev"
                id="prev"
                aria-label="Previous Image"
              >
                <Icon name="mdi:chevron-left" width="50" />
              </button>
              <div class="carousels">
                <div class="carousel grid-sm">
                  {homes.images.slice(homes.images.length - 1).map((Items) => (
                    <img
                      src={Items.image}
                      alt={homes?.title}
                      class="carousel-image ${Items?.active && 'active'}"
                    />
                  ))}
                  {homes.images.map((Items) => (
                    <img
                      src={Items.image}
                      alt={homes?.title}
                      class="carousel-image ${Items?.active && 'active'}"
                    />
                  ))}
                  {homes.images.slice(0, 1).map((Items) => (
                    <img
                      src={Items.image}
                      alt={homes?.title}
                      class="carousel-image ${Items?.active && 'active'}"
                    />
                  ))}
                </div>
              </div>
              <div class="indicator-container">
                {homes.images.map((Items) => (
                  <button class="indicator ${Items?.active && 'active'}" />
                ))}
              </div>
              <button
                class="carousel-btn grid-sm carousel-btn--next"
                id="next"
                aria-label="Next Image"
              >
                <Icon name="mdi:chevron-right" width="50" />
              </button>
            </div>
          </section>

          <div
            class={` ${
              homes.align === "left"
                ? "md:pr-16 lg:pr-24 xl:pr-32 ml-auto"
                : "md:pl-16 lg:pl-24 xl:pl-32  mr-auto"
            } my-auto content text-black/60`}
          >
            <h3 class="mb-6 h4 md:h3 font-semibold text-black">
              {homes.title}
            </h3>
            <p>{homes.content}</p>
            <ul class="space-y-3">
              <li class="inline-grid grid-flow-col-dense">
                {homes.icon.map((roomsIcon) => (
                  <Icon
                    name={roomsIcon}
                    class="w-6 h-6 text-secondary-500 mr-2"
                  />
                ))}
              </li>
            </ul>
          </div>
        </div>
      </>
    ))
  }
</section>

<style>
  .carousel-wrapper {
    background: white;
    position: relative;
    /*overflow: hidden;*/
  }
  .carousel-wrapper::after,
  .carousel-wrapper::before {
    inset-inline: 20%;
  }
  .carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: hsl(var(--background-color));
  }
  .carousels {
    display: flex;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .carousel {
    flex: 1 0 100%;
  }
  .carousel-image {
    max-width: 100%;
    height: auto;
    /*TODO*/
    position: absolute;
  }
  .carousel-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .carousel-btn--prev {
    left: 0;
  }
  .carousel-btn--next {
    right: 0;
  }
</style>
