---
import { Icon } from "astro-icon/components";
import { Image } from 'astro:assets';
import homeData from "@/data/homeData.json";

// import Swiper styles
import 'swiper/css';

import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="pb-12 h-auto relative">
  {
    homeData.map((home) => (
      <>
        <section class="mb-[-20px] z-20 h-[85vh] w-screen overflow-hidden">
          <div id="gallery" class="relative w-full h-[85vh] z-0" data-carousel="slide">
              <!-- Carousel wrapper -->
              <div class="h-full overflow-hidden">
               <!-- Items -->
               {home.images.map((Items) => (
                <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <Image src={Items.image} class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="" width="2000" height="924" />
                </div>
                ))}
              </div>
            </div>
          <div class="absolute top-3 left-1/2 -translate-x-1/2 rounded-full bg-white border border-gray-400">
            <span class="inline-flex gap-3 px-4 py-2 justify-center text-center items-center text-sm text-[#475569]">
              {i18n.HOME.BADGE}
              <Icon name="mdi:hand-wave" />
            </span>
          </div>
          <h1 class="absolute top-24 left-1/2 -translate-x-1/2 text-center text-white drop-shadow-lg text-6xl font-semibold">
            {i18n.HOME.TITLE}
          </h1>
          <div class="absolute top-40 left-1/2 w-full -translate-x-1/2 text-center text-white drop-shadow-lg text-xl">
            {i18n.HOME.DESCRIPTION}
          </div>
        </section>
        <section class="*:*:w-full md:*:*:w-80 flex items-stretch justify-center md:space-x-8">
          <div class="">
            <a
              role="button"
              href="https://www.airbnb.com/rooms/1110735436061203137"
              target="_blank"
              class="px-8 py-2 inline-flex w-max cursor-pointer items-center justify-center gap-3 md:rounded-lg bg-[#b81840] hover:bg-[#e51e51] text-white drop-shadow-md font-semibold transition-colors duration-300"
            >
              {i18n.HOME.BUTTONAIRBNB}
              <Icon name="mdi:arrow-right" class="text-3xl" />
            </a>
          </div>
          <div>
            <a
              role="button"
              href="https://www.booking.com/hotel/es/finca-barahona.en.html"
              target="_blank"
              class="px-8 py-2 inline-flex w-max cursor-pointer items-center justify-center gap-3 md:rounded-lg bg-[#003b95] hover:bg-[#2a63b9] text-white drop-shadow-md font-semibold transition-colors duration-300"
            >
              {i18n.HOME.BUTTONBOOKING}
              <Icon name="mdi:arrow-right" class="text-3xl" />
            </a>
          </div>
        </section>
      </>
    ))
  }
</section>
